
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Profiles</title>
    <style>
        body {
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
            text-align: center;
            padding-top: 70px;
        }

        .member img {
            width: 400px;
            height: 400px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 10px;
        }

        .member-name {
            font-size: 18px;

        }
    </style>
</head>
<body>
{% block content %}
    <h1><i>Candidate Info </i></h1>
<div class="member">
    <img src="https://pbs.twimg.com/profile_images/1386703598319329284/DcYc8cX6_400x400.jpg">
    <h1 align="center">Candidate Profiles</h1>
    <div class="member-name">
        <b>YEDUGURI SANDINTI JAGAN MOHAN REDDY</b><br>
        <b>Born:</b> 21 December 1972<br>
        <b>Party:</b> YSR Congress Party <br>
        <b>Constituency:</b> Pulivendula<br>
        <p> YS.Jagan Mohan Reddy was born in Christian Reddy family in Jammalamadugu in Kadapa district of Andhra
            Pradesh to Y S. Rajasekhara Reddy and Y. S. Reddy has a younger sister, Y. S. Sharmila, who is also
            a politician. He studied at The Hyderabad Public School up to 12th grade. Tollywood actor Sumanth Kumar
            Yarlagadda was his best friend at school. He graduated with a Bachelor of Commerce from
            Pragathi Mahavidyalaya Degree and PG College Ram Koti, Hyderabad. Reddy married Bharathi on 28 August
            The couple has two daughters.</p>
    </div>
</div>

<div class="member">
    <img src="https://th.bing.com/th/id/OIP.Qr-SV3aIZcj8M9lhEEnQggAAAA?w=400&h=400&rs=1&pid=ImgDetMain">
    <div class="member-name">
        <b>NARA CHANDRABABU NADIU</b><br>
        <b>Born:</b> 20 April 1950<br>
        <b>Party:</b> Telugu Desam Party <br>
        <b>Constituency:</b> Kuppam <br>
        <p>N.Chandrababu  was born  at Naravaripalle, Tirupati district in present-day Andhra Pradesh in an agricultural
            family to Nara Kharjura Naidu and his wife Amanamma. He has a younger brother Nara Ramamurthy Naidu and two
            younger sisters.[9] Naidu has vitiligo, an autoimmune disease that causes white patches on the skin.
            Since his village had no school, Naidu attended primary school in Seshapuram up to class five and the
            Chandragiri Government High School up to class 10. He completed his B.A. degree in 1972 from Sri Venkateswara
            Arts College, Tirupati.[8][11] He did his master's degree in economics from Sri Venkateswara University.</p>
    </div>
</div>

<div class="member">
    <img src="https://www.behindwoods.com/tamil-movies-cinema-news-16/images/pawan-kalyans-speech-in-chennai-on-the-21st-of-november-photos-pictures-stills.jpg">
    <div class="member-name">
        <b>KONIDELA PAWAN KALYAN</b><br>
        <b>Born:</b>2 September 1968 or 1971<br>
        <b>Party:</b>Jana Sena Party<br>
        <b>Constituency:</b>Bhimavaram<br>
        <p>Kalyan made his acting debut in 1996 with Akkada Ammayi Ikkada Abbayi. His second film Gokulamlo Seeta
            released the following year. He next appeared in A. Karunakaran-directed Tholi Prema (1999) which won the
            National Award and six Nandi Awards that year. After Tholi Prema, Kalyan acted in Thammudu, playing the
            role of a kick boxer. Thammudu was released on 15 July 1999 and was written and directed by P. A. Arun
            Prasad. On 20 April 2000, he acted in Puri Jagannadh's first directorial venture, Badri. Produced by
            T. Trivikrama Rao and music composed by Ramana Gogula.</p>

    </div>
</div>

<div class="member">
    <img src="https://starsunfolded.com/wp-content/uploads/2023/07/Daggubati-Purandeswari-1.jpg">
    <div class="member-name">
        <b>DAGGUBATI PURANDESWARI</b><br>
        <b>Born:</b>22 April 1959<br>
        <b>Party:</b> Bharatiya Janata Party<br>
        <b>Constituency:</b>Visakhapatnam<br>
        <p>Purandeswari participated in debate on various bills such as 'Domestic Violence Bill, Hindu Succession
            Amendment Bill, and the bill on the establishment of special courts exclusively for trying cases of women
            to name a few' and made meaningful contributions. In appreciation of her performance in Parliament, the
            Asian Age adjudged her as the best Parliamentarian for 2004–05.Born to N. T. Rama Rao and Basavatarakam,
            she did her schooling from Sacred Heart Matriculation Higher Secondary School, Church Park, Chennai. </p>
    </div>

    <div class="member">
    <img src="https://th.bing.com/th/id/OIP.kWRsBOpjCCoXlGqC9Yg9uwHaE0?rs=1&pid=ImgDetMain">
    <h1 align="center">Candidate Profiles</h1>
    <div class="member-name">
        <b>YEDUGURI SANDINTI SHARMILA</b><br>
        <b>Born:</b> 17 December 1973<br>
        <b>Party:</b> Congress Party <br>
        <b>Constituency:</b> Kadapa<br>
        <p> Sharmila made headlines after she took up campaigning on behalf of the YSR Congress Party (YSRCP) along with
            her mother Y. S. Vijayamma, in the absence of her elder brother Y. S. Jagan Mohan Reddy from June 2012 in
            Andhra Pradesh. She worked as the party convener for the YSR Congress Party. YSRCP won 15 of the 18 assembly
            seats and 1 of 1 Parliament seat for which the by-elections were held.Sharmila began her 3,000 km-walkathon
            (1,900 mi) at Idupulapaya in Kadapa district on 18 October 2012.</p>
    </div>
        <div class="member">
    <img src="https://www.electwise.in/media/images/people/photo/K_A_Paul.JPG">
    <h1 align="center">Candidate Profiles</h1>
    <div class="member-name">
        <b>KILARI ANANAD PAUL</b><br>
        <b>Born:</b> 25 September 1963<br>
        <b>Party:</b> Praja Shanti Party <br>
        <b>Constituency:</b>Bhimavaram <br>
        <p>Kilari Anand Paul was born in the village of Chittivalasa, Andhra Pradesh, India.His parents were Barnabas and
            Santhosamma.His parents converted to Christianity in 1966, and Paul became a Christian in March 1971, at age
            eight. Paul stated that he traveled with his evangelist father to hundreds of villages in India sharing the
            gospel and, at age 19, he entered full-time ministry.Paul has three children with his wife Mary Kilari. His
            mother died while undergoing treatment in Visakhapatnam on 12 Feb 2019.</p>
    </div>
</div>
</div>
{% endblock %}
</div>
</body>
</html>
